body{
    font-size:10px;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* ----------------------------------------Navigation Bar-------------------------------------- */
.hamburger-menu-icon{
    height:2rem;
}

.main-navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar1{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.nav-link{
    font-size: 1.25rem;
    margin: 1.2rem;
    text-decoration: none;
    color: black;
}

#try-live-nav-link{
    font-weight: bold;
    color:blue;
}

#login-nav-link{
    font-size: 0.9rem;
    line-height: 1.5;
}

#more-nav-link{
    color: #ff764d;
    font-weight: bold;
}

#about-nav-link{
    color: #ff764d;
    font-size: 1rem;
    font-weight: bold;
}


/* --------------------------------------------------------Hero Section----------------------------------- */
.hero-section{
    background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=369&ixjsv=1.1.3&q=50&w=796");
    width: 85%;
    height: 30rem;
    background-position: center;
    margin: auto;
    position: relative;
}

#main-heading{
    font-size: 6rem;
    color: #FD5948;
    font-weight: bold;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* ------------------------------------------------First paragraph section-------------------------------- */
.main-paragraph{
    font-size:1.6rem;
    font-weight: bold;
}

.sub-paragraph{
    font-size: 1.1rem;
}

.paragraphs-section{
    width: 50%;
    margin: auto;
    text-align: justify;
    margin-top: 5rem;
    
}

.hyperlink{
    text-decoration: none;
    color:blue;
}